html
  head
    title Github Favorites Backend
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', type='text/css')
  body
    div.container-fluid
      div.row
        div.col-sm-offset-2.col-sm-8
          h1 Github Favorites Backend
        div.row
          div.col-sm-offset-3.col-sm-7
            b Current API calls available
            ul
                li
                    code GET req to /api
                    em - returns all search queries
                li
                    code POST req to /api
                    em - adds search query to db
                li
                    code DELETE req to /api
                    em - removes query from db
